<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

	</head>
	<body>
		<div id="app-1">
			<!--全选按钮-->
			<input type="checkbox" name="" id="" value="" v-on:change="checkedAll"/>全选<br />
			
			<div id="" v-for="goods in dataList" v-if="goods.count > 0">
				<!--单选-->
				<input v-bind:checked="checked" type="checkbox" name="" id="" value="" v-on:change="if(goods.isChecked==0){goods.isChecked=1}else{goods.isChecked=0}" />
				
				<!--商品名和价格-->
				<font>{{goods.name}}</font>
				<font>{{goods.price}}</font><br />
				
				<!--减商品数量-->
				<button v-on:click="goods.count--;if(goods.count < 1){goods.count=1}">-</button>
				<input type="" name="" id="" v-model="goods.count" />
				<!--加商品数量-->
				<button v-on:click="goods.count++; if(goods.count > 10){goods.count=10}">+</button><br />
				
				<!--总计-->
				<font>{{goods.price*goods.count}}</font><br />
				
				<!--删除-->
				<button v-on:click="goods.count=0">删除</button>
				
				<br /> <br />
				
				<p>总价:{{total}} </p>
				
			</div>
		</div>
		
		<script type="text/javascript">
			var app = new Vue({
				el:'#app-1',
				data:{
					dataList:[
						{name:'苹果',price:120, count:2, isChecked:0},
						{name:'大米',price:60, count:3,  isChecked:0},
						{name:'衣服',price:220, count:1, isChecked:0},
						{name:'鞋子',price:300, count:1, isChecked:0}
					],
					checked: ''
				},
				computed:{
					//计算总价
					total: function(){
						return this.dataList.reduce(function(to, item){
							return to+item.price*item.count*item.isChecked
						},0)
						
					}
				},
				methods:{
					//全选事件
					checkedAll:function(){
						if(this.checked == ''){
							this.checked = 'checked'
							this.dataList.forEach(function(item,x,arr){
								item.isChecked = 1
							})
						}else{
							this.checked = ''
							this.dataList.forEach(function(item,x,arr){
								item.isChecked = 0
							})
						}
					}
				}
			})
		</script>
	</body>
</html>
