#bottom{
	/*background-color: lightpink;*/
	height: 105px;
}

#bottom div{
	/*background-color: lightcyan;*/
	height: 50px;
	
	line-height: 50px;
	text-align: center;
}

#bottom p{
	text-align: center;
	
	font-size: 12px;
	
	color: rgb(97,97,97);
}

#bottom font{
	margin-left: 10px;
	margin-right: 10px;
	
	font-size: 10px;
	color: rgb(97,97,97);
	
	font-weight: 500;
}

#bottom a{
	font-size: 12px;
	color: rgb(97,97,97);
	
	text-decoration: none;
}
#bottom a:hover{
	color: rgb(216,48,60);
	text-decoration: underline;
}

