#middle{
	height: 475px;
	/*background-color: lightgoldenrodyellow;*/
	
	/*设置背景*/
	background: url(../img/bg2.png) no-repeat 100px center rgb(71,147,202);
}

#middle #login-box{
	width: 350px;
	height: 400px;
	background-color: white;
	
	float: right;
	margin-right: 188px;
	margin-top: 10px;
}

/*==========第一块========*/
#middle #login-box #box1{
	height: 95px;
}

/*警告*/
#middle #login-box #box1 #warning{
	background-color: rgb(255,246,236);
	
	/*内容垂直方向居中*/
	height: 40px;
	line-height: 40px;
	
	/*设置水平方向布局方式*/
	text-align: center;
	
}

#middle #login-box #box1 #warning font{
	font-size: 12px;
	color: rgb(147,147,147);
}

#middle #login-box #box1 #warning img{
	/*内容垂直方向的布局方式*/
	vertical-align: middle;
}



/*登录方式选择*/
#middle #login-box #box1 #choice{
	height: 55px;
	
	color: rgb(242,242,242);
	
	font-size: 20px;
	
	/*设置字体的粗细*/
	font-weight: 100;
}

#middle #login-box #box1 #choice button{
	width: 170px;
	height: 100%;
	
	background-color: rgba(0,0,0,0);
	
	border: 0;
	
	font-size: 20px;
	color: rgb(94,92,93);
	
}

/*设置按钮成为焦点时的样式*/
#middle #login-box #box1 #choice button:focus{
	/*按钮成为焦点是外面默认的边框是outline*/
	outline: 0;
	color: rgb(217,46,56);
}




/*=====第二块======*/
#middle #login-box #box2{
	/*background-color: lightcyan;*/
	height: 255px;
	
	border-top: 1px solid rgb(240,240,240);
	border-bottom: 1px solid rgb(240,240,240);
	
	position: relative;
}

#middle #login-box #box2 div{
	width: 310px;
	height: 40px;
	
	border: 1px solid rgb(184,184,184);
	
	margin-left: 20px;
	margin-top: 30px;
}
#middle #login-box #box2 #password{
	margin-top: 20px;
}

/*输入框中的图片*/
#middle #login-box #box2 div img{
	width: 40px;
	height: 40px;
	
	border-right: 1px solid rgb(184,184,184);
}

/*input标签*/
#middle #login-box #box2 div input{
	width: 260px;
	height: 100%;
	
	vertical-align: top;
	
	border: 0;
	
	font-size: 14px;
}
#middle #login-box #box2 div input:focus{
	outline: 0;
}


/*登录按钮*/
#middle #login-box #box2 button{
	width: 310px;
	height: 35px;
	
	margin-left: 20px;
	
	position: absolute;
	bottom: 30px;
	
	border: 0;
	background-color: rgb(214,36,50);
	font-size: 21px;
	color: white;
}

#middle #login-box #box2 button:focus{
	outline: 0;
}

#middle #login-box #box2 button:active{
	border: 4px solid rgba(35,138,194,0.8);
}

/*忘记密码*/
#middle #login-box #box2 a{
	position: absolute;
	right: 20px;
	
	font-size: 12px;
	color: rgb(147,147,147);
	text-decoration: none;
	
	margin-top: 20px;
}
#middle #login-box #box2 a:hover{
	color: rgb(216,48,60);
	text-decoration: underline;
}


/*=========第三块========*/
#middle #login-box #box3{
	height: 50px;
	line-height: 50px;
}

#middle #login-box #box3 a{
	text-decoration: none;
	
	font-size: 13px;
	color: rgb(147,147,147);
	
	padding-left: 25px;
}

/*QQ*/
#middle #login-box #box3 #qq{
	float: left;
	margin-left: 20px;
	
	background: url(../img/qq.png) no-repeat 0 center rgba(0,0,0,0);

}
/*竖线*/
#middle #login-box #box3 font{
	float: left;
	
	margin-left: 16px;
	margin-right: 13px;
	
	font-size: 10px;
	color: rgb(240,240,240);
}

/*微信*/
#middle #login-box #box3 #weixin{
	
	float: left;
	background: url(../img/weixin.png) no-repeat 0 center rgba(0,0,0,0);
}

/*注册*/
#middle #login-box #box3 #register{
	float: right;
	
	margin-right: 20px;
	
	font-size: 14px;
	color: rgb(155,27,36);
	background: url(../img/right.png) no-repeat 0 center rgba(0,0,0,0);
}







